<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzm.api.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.wzm.api.entity.Student" >
    <id column="stunum" property="stunum" jdbcType="INTEGER" />
    <id column="stuid" property="stuid" jdbcType="VARCHAR" />
    <result column="stuname" property="stuname" jdbcType="VARCHAR" />
    <result column="stusex" property="stusex" jdbcType="VARCHAR" />
    <result column="studate" property="studate" jdbcType="DATE" />
    <result column="ins" property="ins" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="claid" property="claid" jdbcType="VARCHAR" />
    <result column="stuadd" property="stuadd" jdbcType="VARCHAR" />
    <result column="admdate" property="admdate" jdbcType="DATE" />
    <result column="polsta" property="polsta" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    stunum, stuid, stuname, stusex, studate, ins, major, claid, stuadd, admdate, polsta
  </sql>
  <select id="selectByPrimaryStuid" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where  stuid = #{stuid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryClaid" resultMap="BaseResultMap" parameterType="String" >
    select
    <include refid="Base_Column_List" />
    from tb_student
    where claid = #{claid,jdbcType=VARCHAR}
  </select>
  <select id="getTotalByClaid" resultType="INTEGER" parameterType="String" >
    select
    count(*)
    from tb_student
    where claid = #{claid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryClaidASC" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_student
    where claid = #{param1}
    order by stuid ASC LIMIT #{param2}, #{param3}
  </select>
  <delete id="deleteByPrimaryStuid" parameterType="String" >
    delete from tb_student
    where stuid = #{stuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wzm.api.entity.Student" >
    insert into tb_student (stunum, stuid, stuname, 
      stusex, studate, ins, 
      major, claid, stuadd, 
      admdate, polsta)
    values (#{stunum,jdbcType=INTEGER}, #{stuid,jdbcType=VARCHAR}, #{stuname,jdbcType=VARCHAR}, 
      #{stusex,jdbcType=VARCHAR}, #{studate,jdbcType=DATE}, #{ins,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{claid,jdbcType=VARCHAR}, #{stuadd,jdbcType=VARCHAR}, 
      #{admdate,jdbcType=DATE}, #{polsta,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wzm.api.entity.Student" >
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stunum != null" >
        stunum,
      </if>
      <if test="stuid != null" >
        stuid,
      </if>
      <if test="stuname != null" >
        stuname,
      </if>
      <if test="stusex != null" >
        stusex,
      </if>
      <if test="studate != null" >
        studate,
      </if>
      <if test="ins != null" >
        ins,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="claid != null" >
        claid,
      </if>
      <if test="stuadd != null" >
        stuadd,
      </if>
      <if test="admdate != null" >
        admdate,
      </if>
      <if test="polsta != null" >
        polsta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stunum != null" >
        #{stunum,jdbcType=INTEGER},
      </if>
      <if test="stuid != null" >
        #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null" >
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null" >
        #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null" >
        #{studate,jdbcType=DATE},
      </if>
      <if test="ins != null" >
        #{ins,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="claid != null" >
        #{claid,jdbcType=VARCHAR},
      </if>
      <if test="stuadd != null" >
        #{stuadd,jdbcType=VARCHAR},
      </if>
      <if test="admdate != null" >
        #{admdate,jdbcType=DATE},
      </if>
      <if test="polsta != null" >
        #{polsta,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzm.api.entity.Student" >
    update tb_student
    <set >
      <if test="stuname != null" >
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null" >
        stusex = #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null" >
        studate = #{studate,jdbcType=DATE},
      </if>
      <if test="ins != null" >
        ins = #{ins,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="claid != null" >
        claid = #{claid,jdbcType=VARCHAR},
      </if>
      <if test="stuadd != null" >
        stuadd = #{stuadd,jdbcType=VARCHAR},
      </if>
      <if test="admdate != null" >
        admdate = #{admdate,jdbcType=DATE},
      </if>
      <if test="polsta != null" >
        polsta = #{polsta,jdbcType=VARCHAR},
      </if>
    </set>
    where  stuid = #{stuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzm.api.entity.Student" >
    update tb_student
    set stuname = #{stuname,jdbcType=VARCHAR},
      stusex = #{stusex,jdbcType=VARCHAR},
      studate = #{studate,jdbcType=DATE},
      ins = #{ins,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      claid = #{claid,jdbcType=VARCHAR},
      stuadd = #{stuadd,jdbcType=VARCHAR},
      admdate = #{admdate,jdbcType=DATE},
      polsta = #{polsta,jdbcType=VARCHAR}
    where stunum = #{stunum,jdbcType=INTEGER}
      and stuid = #{stuid,jdbcType=VARCHAR}
  </update>
</mapper>